# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/nasltdca/public_html/tools/ProductionServer"
PassengerBaseURI "/tools"
PassengerPython "/home/nasltdca/virtualenv/public_html/tools/ProductionServer/3.9/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
